@import "tailwindcss";
@import "./rent-swiper.css";
@font-face {
  font-family: "Estedad-Black";
  src: url(../../public/fonts/Estedad-Black.ttf);
}
@font-face {
  font-family: "Estedad-Bold";
  src: url(../../public/fonts/Estedad-Bold.ttf);
}
@font-face {
  font-family: "Estedad-ExtraBold";
  src: url(../../public/fonts/Estedad-ExtraBold.ttf);
}
@font-face {
  font-family: "Estedad-ExtraLight";
  src: url(../../public/fonts/Estedad-ExtraLight.ttf);
}
@font-face {
  font-family: "Estedad-Light";
  src: url(../../public/fonts/Estedad-Light.ttf);
}
@font-face {
  font-family: "Estedad-Medium";
  src: url(../../public/fonts/Estedad-Medium.ttf);
}
@font-face {
  font-family: "Estedad-Regular";
  src: url(../../public/fonts/Estedad-Regular.ttf);
}
@font-face {
  font-family: "Estedad-SemiBold";
  src: url(../../public/fonts/Estedad-SemiBold.ttf);
}
@font-face {
  font-family: "Estedad-Thin";
  src: url(../../public/fonts/Estedad-Thin.ttf);
}
@theme {
  --font-EstedadBlack: "Estedad-Black";
  --font-EstedadBold: "Estedad-Bold";
  --font-EstedadExtraBold: "Estedad-ExtraBold";
  --font-EstedadExtraLight: "Estedad-ExtraLight";
  --font-Estedadlight: "Estedad-Light";
  --font-EstedadMedium: "Estedad-Medium";
  --font-EstedadRegular: "Estedad-Regular";
  --font-EstedadSemiBold: "Estedad-SemiBold";
  --font-EstedadThin: "Estedad-Thin";
  --radius-pill: 20px;
  --color-primary-blue: #194bf0;
  --color-primary-yellow: #fdb713;
  --color-mustard: #d79c10;
  --color-body-gray: #f3f3f3;
  --color-gray1: #414141;
  --color-gray2: #757575;
  --color-gray3: #5e5e5e;
  --color-gray4: #353535;
  --color-gray5: #494949;
  --color-gray6: #868686;
  --color-gray7: #212121;
  --color-gray8: #727272;
  --color-gray9: #9a9a9a;
  --color-gray10: #9c9c9c;
  --color-gray11: #606060;
  --color-black:#0c0c0c;
  --spacing-image: calc(50% - 90% / 2);
  --spacing-main: calc(50% - 90% / 2);
  --spacing-input: calc(25px / 2);
  --spacing-head-center: calc(50% - 845px / 2);
  --spacing-bottom-box: calc(100% - 186px / 2);
  --spacing-bottom-box-side: calc(53% + 312px / 2);
  --spacing-bottom-box-center: calc(50% - 312px / 2);
  --spacing-reserve-center: calc(50% - 1200px / 2);
  --spacing-rentBack-center: calc(50% - 210px / 2);
  --spacing-brands-center: calc(50% - 100% / 2);
  --spacing-blog-center: calc(50% - 100px / 2);
  --spacing-blog-comments: calc(50% - 805px / 2);
  --spacing-buttons-center: calc(50% - 400px / 2);
  --spacing-steps-center: calc(50% - 392px / 2);
  --spacing-stepNumbers: calc(100% - 85px);
  --text-md: 16px;
}
@layer {
  body {
    @apply bg-body-gray;
  }
}
.bg-slogan {
  background: url(../../public/images/home-page/image-43.png) no-repeat center
      center,
    url(../../public/images/home-page/image-42.png) no-repeat center -30px;
    
}


.bg-slogan-mobile {
  background: url(../../public/images/home-page/image-42.png) no-repeat center
      center;
      background-size: cover;
    
}
.button-border {
  border: 1px solid #ffffff;
}
.button-border-blue {
  border: 1px solid #194bf0;
}
.info-border {
  border: 1px solid #d7d7d7;
}
.bg-why {
  background: url(../../public/images/why-auto/back.png) no-repeat center;
  background-size: cover;
  border-radius: 16px;
}
.bg-backRent {
  background: url(../../public/images/rentalList/rent-back.png) no-repeat center
    center;
    background-size: cover;
}
.bg-blog {
  background: url(../../public/images/blog/blog-back.png) no-repeat center
    center;
    background-size: cover;
  
}
.border-bottom-rental {
  border-bottom: 1px solid #d7d7d7;}
.border-bottom-list {
  border-bottom: 1px solid #cbcbcb;
}
.footer-border {
  border: 1px solid #868686;
}
.svg-border {
  border: 0.5px solid #c2c2c2;
}
.blog-border {
  border-bottom: 1px solid #c2c2c2;
}
.blog-border-comments {
  border: 1px solid #c2c2c2;
}
.footer-bottom {
  border-bottom: 1px solid #868686;
}
.listForm {
  direction: rtl;
}
.border-adjust {
  border: 0.5px solid #c2bebe;
}
.border-reserve {
  border: 1px solid #9a9a9a;
}